.offers-container,
.features-container {
  padding: 90px 0;
}

.offers-container .container,
.features-container .container {
  margin-top: 4rem !important;
}

.offers-container .product-image,
.features-container .product-image {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.offers-container .product-image .hidden-cta,
.features-container .product-image .hidden-cta {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -100%;
  width: 100%;
  height: 100%;
  transition: 1s;
  background: #000000d0;
  box-sizing: border-box;
}

.offers-container .product-image .hidden-cta .fas,
.features-container .product-image .hidden-cta .fas {
  background: #fff;
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
}

.offers-container .product-image .hidden-cta .fas:hover,
.features-container .product-image .hidden-cta .fas:hover {
  background: var(--main-color);
  color: #fff;
}

.offers-container .product-image:hover .hidden-cta,
.features-container .product-image:hover .hidden-cta {
  transition: 1s;
  bottom: 0;
}

.offers-container .product-image img,
.features-container .product-image img {
  padding: 15px;
  background: #efeee8;
  border: 1px solid #eae8df;
  cursor: pointer;
}

.offers-container .book-details .item-price,
.features-container .book-details .item-price {
  font-size: 1.3em;
  margin-top: 10px;
  color: var(--main-color);
}

.offers-container .book-details,
.features-container .book-details {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.offers-container .book-details h3,
.features-container .book-details h3 {
  font-size: 1.4em;
  font-weight: 500;
}

.offers-container .book-details p,
.features-container .book-details p {
  color: var(--body-text-color);
  margin-block-end: 0;
}
