/* ================================
============ SHARED STYLES ==============
================================ */

.checkout-container,
.cart-container,
.search-container,
.dashboard-container,
.single-product-container,
.signup-container,
.login-container,
.contact-container,
.shop-container,
.home-container {
  padding-top: 10vh;
}
.search-container h1,
.shop-container h1,
.contact-container h1 {
  position: relative;
  font-size: 3em;
  font-family: var(--heading-font);
  color: var(--dark-text-color);
  margin: 40px 0;
}
.shop-container h1:after,
.contact-container h1:after {
  content: "";
  border-bottom: 3px solid var(--main-color);
  position: absolute;
  right: 0;
  bottom: -16px;
  left: 0;
  width: 60px;
}

/* ================================
============ SHOP ==============
================================ */

.shop-container .shop-cta-filter {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.shop-container .shop-cta-filter button {
  border: 1px solid var(--main-bg);
  width: 100%;
  padding: 10px 0;
  -webkit-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.shop-container .shop-cta-filter button:hover {
  background: var(--main-bg);
  color: #fff;
}

.shop-container .filter-container,
.shop-container .categories-container {
  position: fixed;
  margin-top: 10vh;
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  background: #eeeeee;
  z-index: 80;
}

.shop-container .filter-container .fa-arrow-left,
.shop-container .categories-container .fa-arrow-left {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5% 0 0 8%;
  background: var(--main-bg);
  color: #fff;
  font-size: 18px;
  padding: 10px;
  border-radius: 3px;
}

.shop-container .categories-container .all-categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.shop-container .categories-container .all-categories .each-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.shop-container .categories-container .all-categories .category-img-box {
  width: 110px;
  height: 110px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 100%;
  margin-bottom: 20px;
}

.shop-container .categories-container .all-categories .category-img-box img {
  width: 40px;
}

.shop-container .categories-container .all-categories > button {
  flex: 40%;
}

.shop-container .categories-container button {
  border: 1px solid var(--main-color);
  padding: 5px 25px;
  width: 100%;
  cursor: pointer;
}

.shop-container .filter-container .filter-parameter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.shop-container .filter-container .filter-parameter i {
  margin-right: 10px;
  color: var(--main-bg);
  margin-bottom: 20px;
}

.shop-container .filter-container .filter-category-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#filter_checkboxes input {
  display: none;
}
#filter_checkboxes label {
  border: 1px solid var(--main-bg);
  padding: 10px 15px;
  border-radius: 5px;
  color: #4c4c4c;
  cursor: pointer;
}
#filter_checkboxes input:checked + label {
  color: #fff;
  background: var(--main-bg);
}

.shop-container .filter-container .filter-parameter #submit {
  background: var(--main-color);
  color: #fff;
  padding: 10px 25px;
  margin-top: 15px;
}

.no-book {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.no-book p {
  color: #454545;
  font-size: 24px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  /* .all-categories > button {
    flex: 100%;
  } */
}

/* ================================
============ CONTACT ==============
================================ */

.contact-container .contact-info {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.contact-container .contact-info .about-us h3 {
  color: var(--dark-text-color);
}
.contact-container .contact-info .each-info {
  border: 1px solid var(--main-color);
  -webkit-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.705);
  -moz-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.705);
  -ms-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.705);
  -o-box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.705);
  box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.705);
  border-radius: 3px;
  width: fit-content;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.contact-container .contact-info .each-info i {
  margin-right: 10px;
  font-size: 20px;
  color: var(--main-color);
}
.contact-container .contact-info .each-info h6 {
  color: var(--main-bg);
}
.contact-container .contact-info .each-info span {
  color: var(--body-text-color);
}

.contact-container .contact-form input {
  border-radius: 3rem;
  margin-bottom: 20px;
  background: var(--light-body-color);
}
.contact-container .contact-form textarea {
  margin-bottom: 20px;
}
.contact-container .modalBody button:focus,
.contact-container .contact-form button:focus,
.contact-container .contact-form input:focus,
.contact-container .contact-form textarea:focus {
  box-shadow: none;
  border: 1px solid var(--main-color);
}
.contact-container .contact-form button {
  padding: 0.5rem 0;
  cursor: pointer;
  width: 100%;
  border-radius: 3rem;
  border: 1px solid var(--main-color);
  background: var(--main-color);
  color: #fff;
}
.contact-container .contact-form button:hover {
  background: transparent;
  color: var(--main-color);
}

/* Modal Styles */

.contact-container .contactModal {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  z-index: 1000000;
}
.contact-container .contactModal.hidden {
  display: none;
}
.contact-container .contactModal .modalContainer {
  width: 80%;
  padding: 20px;
}
.contact-container .contactModal .modalContainer .modalBody {
  display: inline-block;
  background-color: #fff;
  border: 1px solid none;
  padding: 10px;
  border-radius: 4px;
}
.contact-container .modalBody .fa {
  font-size: 40px;
  padding: 20px 0;
}
.contact-container .modalBody .fa-check-circle {
  color: var(--main-color);
}
.contact-container .modalBody .fa-times-circle {
  color: #f00;
}
.contact-container .modalBody #modalHTwo {
  font-size: 24px;
}
.contact-container .modalBody #modalP {
  color: #4c4c4c;
  font-size: 14px;
  padding: 0 10px;
  text-align: center;
}
.contact-container .modalBody button {
  border: 1px solid var(--main-color);
  background-color: transparent;
  color: #4c4c4c;
  width: 50%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .contact-container .contact-info .each-info {
    width: 100%;
  }
}

/* ================================
============ LOGIN & SIGNUP ==============
================================ */

.signup-container,
.login-container {
  padding-bottom: 30px;
  background: var(--body-bg);
}
.signup-container h1,
.login-container h1 {
  position: relative;
  font-size: 3em;
  font-family: var(--heading-font);
  color: var(--dark-text-color);
  margin: 40px 0;
  text-align: center;
}
.signup-container h1:after,
.login-container h1:after {
  content: "";
  border-bottom: 3px solid var(--main-color);
  position: absolute;
  right: 0;
  bottom: -16px;
  left: 0;
  width: 60px;
  margin: 0 auto;
}
.login-container .login-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.login-container .login-div .product-container {
  height: 30vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.login-container .login-div .product-container img {
  height: 30vh;
}
.signup-container .signup-block {
  margin: 0 auto;
  padding: 30px 15px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  width: 280px;
}
.login-container .login-div .login-block {
  padding: 30px 15px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  width: 280px;
}
.signup-container .signup-block form input:focus,
.login-container .login-block form input:focus {
  box-shadow: none;
  border: 1px solid var(--main-color);
}
.signup-container .signup-block form input,
.login-container .login-block form input {
  margin-bottom: 10px;
}
.signup-container .signup-block form button,
.login-container .login-block form button {
  padding: 6px 0;
  background: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color);
  width: 100%;
  border-radius: 3px;
  margin-bottom: 10px;
}
.login-container .login-block .demo-btn {
  background: var(--main-bg);
  color: #fff;
  border: none;
  width: 100%;
  border-radius: 3px;
  padding: 5px 0;
  margin-bottom: 10px;
}
.signup-container .signup-block button:focus,
.login-container .login-block button:focus {
  box-shadow: none;
  outline: none;
}
.signup-container .sign-in-option,
.login-container .login-block .sign-up-option {
  color: var(--dark-text-color);
  font-size: 14px;
}
.signup-container .sign-in-option a,
.login-container .login-block .sign-up-option a {
  color: var(--dark-text-color);
  font-weight: 700;
}

@media only screen and (max-width: 480px) {
  .login-container .login-div {
    flex-direction: column;
  }
  .login-container .login-div .product-container {
    display: none;
  }
}

/* ================================
============ LOGIN & SIGNUP ==============
================================ */

.single-product-container .single-product-row {
  margin-top: 5rem;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.single-product-container .single-product-row .product-detail-container {
  width: 50%;
}
.single-product-container .single-product-row .single-product-img {
  height: 50vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.single-product-container .single-product-row .single-product-img img {
  height: 50vh;
}
.single-product-container .single-product-row .product-detail-container h2 {
  color: var(--dark-text-color);
  font-family: var(--heading-font);
  font-size: 2.5em;
  line-height: 1.4;
  text-transform: capitalize;
}
.single-product-container
  .single-product-row
  .product-detail-container
  .author
  span {
  color: var(--body-text-color);
}
.single-product-container
  .single-product-row
  .product-detail-container
  .item-price {
  font-size: 1.3em;
  margin-top: 10px;
  color: var(--main-color);
}
.single-product-container .single-product-row .product-detail-container button {
  text-transform: uppercase;
  border: 1px solid none;
  padding: 15px 20px;
  background: var(--main-color);
  color: #fff;
}

/* ================================
============ SEARCH ==============
================================ */

.search-container form {
  margin-bottom: 20px;
}
.search-container input {
  font-size: 18px;
  width: 50%;
}
.search-container input:focus {
  box-shadow: none;
  border: 1px solid var(--main-color);
}
.search-container .no-books {
  color: var(--dark-text-color);
  font-size: 24px;
}

@media only screen and (max-width: 480px) {
  .search-container input {
    width: 100%;
  }
}
